.badge{
    height: 45px;
    width:  45px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #FFD9D5;
}
.badge-female{
   background-color: #ffcddc;
}
.badge-male{
   background-color: #C8EAFB;
}
.badge-service{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(50px);
}
.badge img{
    height: 25px;
}

