
.servicecard{
    position: relative;
    padding: 40px 20px 20px 20px;
    width: 400px;
    min-height: 190px;
    height: 100%;
    /* border: 1px solid rgb(255, 179, 162); */
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.badge-icon{
    position: absolute;
    top: -25px;
    left: calc(50% - 25px)
}

h4{
    margin-bottom: 0px;
}
p{
    margin-top: 0px !important;
}

@media screen and (max-width:576px) {
    .servicecard{
        width: 300px;
    }
}