
.servicecard{
    position: relative;
    padding: 40px 20px 20px 20px;
    width: 400px;
    height: 190px;
    /* border: 1px solid rgb(255, 179, 162); */
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.servicecard-content{
    overflow: hidden;
}
.servicecard-head{
    font-size: 20px;
    font-weight: 500;
}
.badge-icon{
    position: absolute;
    top: -25px;
    left: calc(50% - 25px)
}

h4{
    margin-bottom: 0px;
}
p{
    margin-top: 0px !important;
}

@media screen and (max-width:576px) {
    .servicecard{
        width: 300px;
        height: max-content;
    }
}
.animated-list {
    min-height: 24px; /* prevents layout jump */
}

.animated-point {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-out {
    opacity: 0;
    transform: translateY(-10px);
}