
.about-para{
  font-size: 18px;
}
@media screen and (max-width:786px) {
  .about-para{
    font-size: 14px;
  }
  .instructor-name{
    font-size: 35px;
  }
  .instructor-description{
    font-size: 15px;
  }
  .instructor-spec{
    font-size: 15px;
  }
}