@media (max-width: 768px) {
  .baseofimage {
    display: none;
  }
}
@media (max-width: 768px) {
  .section-bg-img {
    background-image: url("/images/shop-mb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {

    .tagline{
        font-size: 35px;
    }
  .section-bg-img {
    position: relative;
    color: white;
  }

  .section-bg-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* dark overlay */
    z-index: 0;
  }

  .section-bg-img .container {
    position: relative;
    z-index: 1;
  }
}
.section-bg-img {
  transition: background 0.3s ease;
}

.hero-buttons a {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;

  /* Glass effect */
  background: rgba(255, 105, 135, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(197, 165, 165, 0.3);

  /* Soft glow */
  box-shadow: 0 8px 20px rgba(189, 189, 189, 0.3);

  /* Smooth animation */
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .hero-buttons a {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
/* Hover effect */
.hero-buttons a:hover {
  background: rgba(255, 105, 135, 0.45);
}
