.timeline {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
}

/* Center vertical line */
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 3px;
  height: 100%;
  background: #ED8D8D;
  transform: translateX(-50%);
}

/* Timeline item */
.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px 40px;
}

/* Left side */
.timeline-item.left {
  left: 0;
  text-align: right;
}

/* Right side */
.timeline-item.right {
  left: 50%;
  text-align: left;
}

/* Content box */
.timeline-content {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #ffc9bd;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07); */
}

/* Circle */
.timeline-circle {
  position: absolute;
  top: 30px;
  left: 100%;
  width: 20px;
  height: 20px;
  background: #ED8D8D;
  color: #fff;
  border: 2px solid rgb(253, 244, 242);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transform: translateX(-50%);
  z-index: 2;
}

/* Move circle for right side */
.timeline-item.right .timeline-circle {
  left: 0;
  transform: translateX(-50%);
}

/* Responsive */
@media (max-width: 768px) {
  .timeline::before {
    left: 20px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 60px;
    text-align: left;
  }

  .timeline-item.right {
    left: 0;
  }

  .timeline-circle {
    left: 20px !important;
    transform: translateX(-50%);
  }
}
.timeline-circle.active {
  position: absolute;
}

/* Pulse ring */
.timeline-circle.active::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #ED8D8D;
  animation: pulse 1.8s infinite;
  z-index: -1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  70% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
